<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hanyongguang1124.test.bwie.com.yunifang">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="hanhan.test.yunifang.com.yunifang.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="hanhan.test.yunifang.com.yunifang.yunifang.MainActivity"></activity>
        <activity android:name="hanhan.test.yunifang.com.yunifang.yunifang.LaunchAActivity" />
        <activity android:name="hanhan.test.yunifang.com.yunifang.yunifang.LaunchBActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>